.row {
  margin-top: 50px;
}

th, td {
  padding 5px;
}

tfoot {
  border-top: 1px solid black;
}

.card {
  padding: 15px;
}

.card-img {
  width: 100%;
  display: block;
  margin: 15px auto;
}

.card-title {
font-weight: bold;
font-size: 130%;
}

.card-subtitle {
  font-style:italic;
}
.btn {
width: 75%;
margin: 15px auto;
}
